body {
    background-color: rgb(214, 226, 228);
  }
  h1 {
    color: blue;
    font-family: verdana;
    font-size: 200%;
    padding: 2% 2%;
    margin: 2%;
  }
  p {
    color: red;
  }
  #p01 {
    color: rgb(8, 39, 17);
    font-size: large;
  }