  body {
    background-color: rgb(214, 226, 228);
    color: rgb(24, 27, 29);
    font-size: 16px;
    font-weight: 400;
    font-family:  'Roboto', sans-serif;
  }

  h1 {
    color: rgb(54, 54, 54);
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    margin-top: 0px;
    margin-bottom: 3px;
  }

  h2 {
    color: rgb(54, 54, 54);
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;  
  }

  p {
    color: red;
  }

  a:link {
    color: rgb(21, 21, 202);
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(133, 130, 130);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    background-color: transparent;
    text-decoration: none;
  }

  .Aleximg {
    width: 150px;
    border-radius: 10px;
    height: 200px;
    box-shadow: 5px 5px 9px rgba(10, 11, 12, 0.35);
  }

  .info p {
   color: rgb(15, 16, 19);
   margin: 0%;
   font-style: italic;
   text-decoration: none;
   text-transform: none;
   padding-left: 0%;
  }

  /* box model */
  .container {
   width: 86%;
   margin: auto;
   padding-top: 30px;
  }


/* .box-model > div {
  float: left;
background-color: black;
border: 4px dashed red;
height: 200px;
width: 25%;
box-sizing: border-box; */
/* } */

.card {
  padding: 20px 20px;
  /* background-color: aqua; */
  margin-bottom: 10px;
  border-radius: 15px;
}

.bg-education {
  background: rgb(233, 248, 237);
}

.bg-work {
  background: rgb(225, 253, 235);
  position: relative;
}

.bg-courses {
  display: flex;
  background: rgb(225, 253, 235);
}

.bg-information {
  background: rgb(233, 248, 237);
}

.bg-information p, h3 {
  margin-bottom: 2px;
  margin-top: 2px;
}

.info {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.left-info {
  display: flex;
  margin-left: 10px;
  width: 70%;
}

.right-info {
  border: none;
  border-left: 1px dashed rgb(175, 175, 175);
  width: 24%; 
  padding-left: 2%; 
}

.right-info h3, p {
  color: inherit;
}

.d-flex {
  display: flex;
  text-align: center;
  align-items: center;
}

.right-info p, a {
  color: inherit;
  padding-left: 10px;
}

.info-text {
  margin-right: 10px;
  margin-left: 40px;
}

.card h2 {
  margin-bottom: 15px;
}

.list {
  padding: 0 20px;
  margin-left: 25%;
}

.list li {
  color: inherit;
  margin-bottom: 5px;
}

.table {
 width: 100%; 
 }

.table td, th {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: left;
  border-left: 0.5px dashed rgb(117, 117, 117);
  padding-left: 30px;
}

.table th {
  color: inherit;
  font-size: 24px;
}

.table td:nth-child(1) {
  font-weight: bold;
  width: 20%;
}

.table td:nth-child(2) {
  width: 55%;
}

/* Четные/нечетные данные */
/* .table tr:nth-child(even) { 
  background-color: rgb(252, 252, 252);
} */

.left-course {
  width: 50%;
}

.link-list {
  list-style: none;
  padding: 0;
}

.link-list li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.contact  {
  text-align: center;  
}

.form-group label {
  display: block;
  font-size: 16px;
  color: rgb(100, 100, 100);
}
.form-group input, textarea {
  width: 100%;
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  background: transparent;
  font-family: inherit;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.row > .form-group {
  width: 50%;
}

.row > .form-group:first-child {
  margin-right: 20px;
}

.button1 {
  color: rgb(255, 255, 255);
  padding: 15px 20px;
  background: #111;
  font-family: inherit;
  cursor: pointer;
  border-radius: 10px;
}
.button1:hover {
  opacity: 0.8;
}

.social  {
  position: fixed;
  bottom: 50px;
  right: 30px;
} 

.buttonwork {
  position: relative;
  margin: 0;
}

.button2 {
  background-color: rgb(40, 71, 56) ;
  border-radius: 10px;
  margin: 0;
  padding: 1px;
}

.button2 p {
  text-align: center;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.button2:hover {
  opacity: 0.8;
}

.header1 {
 display: flex;
 justify-content: space-between;
}

.workexxp {
width: 100%;
text-align: center;
}

.imagetag img{
  width: 45px;
  }

@media (max-width: 860px) {
  .info {
    display: block;
    text-align: center;
  }
  .Aleximg {
    border-left: 10%;
  }
  .info-text h2 {
    font-size: 100%;
  }
  .info-text h1 {
    font-size: 150%;
  }
  .left-info {
    width: 100%;
    display: block;
  }
  .right-info {
    width: auto;
    border: none;
  }
  .social {
    display: flex;
  }
  .d-flex {
    align-content: center;
  }
}